/* celestra font */
html, body {font-family: 'Gilroy', sans-serif; font-size: 18px;}

@media screen and (max-width: 480px) {html, body {font-size:16px;}}
/*

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

  font-weight: 700;

  letter-spacing: -.05em;

}

*/



h1,h2,h3,h4,h5,h6, .h1,.h2,.h3,.h4,.h5,.h6,.digit {font-weight:700;}

body, .btn {font-weight: 400;}



.fw-bold {font-weight:700 !important;}



.navbar-nav {font-weight: 500;}

.navbar .btn {font-weight: 500;}
body, .btn {line-height: 1.6;}

h1, h2, .h1, .h2 {margin-bottom:2rem;}

.mb-3 {margin-bottom:2rem !important;}

.lightbox .mb-3 {margin-bottom:1rem !important;}



p.lead {margin-bottom:2rem;}



.article-body p {margin-bottom: 1rem;}

.article-body h2 {margin-bottom: 1rem; font-size: 1.5rem;}

.article-body h3 {margin-bottom: 1rem; font-size: 1.25rem;}



:root {

    --list-gutter: 2rem;

    --fm-gutter-x: 2rem;

}

.h-underline-1 {

    margin-bottom: 4rem;

}

@media (min-width: 1200px) {

  .h1, h1 {

    font-size: 3rem;

  }

}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, #header .header-nav-main nav > ul > li > a, #footer .footer-nav nav > ul > li > a {letter-spacing: inherit;}


/* from.biz color scheme */
:root {
--body-color: #0F172A;
--primary: #018abd;
--primary-active: #017caa;
--primary-rgb: 1, 138, 189;
--secondary: #1E293B;
--secondary-active: #1b2535;
--secondary-rgb: 30, 41, 59;
--warning: #F59E0B;
--warning-active: #dd8e0a;
--warning-rgb: 245, 158, 11;
--info: #DBEAFE;
--info-active: #c5d3e5;
--info-rgb: 219, 234, 254;
--success: #10B981;
--success-active: #0ea774;
--success-rgb: 16, 185, 129;
--light: #F8FAFC;
--light-active: #eceeef;
--light-rgb: 248, 250, 252;
--dark: #0F172A;
--dark-active: #0e1526;
--dark-rgb: 15, 23, 42;
--danger: #E11D48;
--danger-active: #cb1a41;
--danger-rgb: 225, 29, 72;
--header-height: 128px;
--navbar-font-size: 14px;
--fm-navbar-width: 1620px;
--fm-body-width: 1620px;
--navbar-hover-bg: var(--body-bg);
}
.btn-primary {border-color:#018abd !important; background-color:#018abd !important}
.btn-primary:hover {border-color:#017caa !important; background-color:#017caa !important}
.btn-primary.active {border-color:#017caa !important; background-color:#017caa !important}
.bg-primary .btn-primary {border-color:#017caa !important; background-color:#017caa !important}
.bg-primary .btn-primary:hover {border-color:#017099 !important; background-color:#017099 !important}
.btn-secondary {border-color:#1E293B !important; background-color:#1E293B !important}
.btn-secondary:hover {border-color:#1b2535 !important; background-color:#1b2535 !important}
.btn-secondary.active {border-color:#1b2535 !important; background-color:#1b2535 !important}
.btn-warning {border-color:#F59E0B !important; background-color:#F59E0B !important}
.btn-warning:hover {border-color:#dd8e0a !important; background-color:#dd8e0a !important}
.btn-warning.active {border-color:#dd8e0a !important; background-color:#dd8e0a !important}
.btn-info {border-color:#DBEAFE !important; background-color:#DBEAFE !important}
.btn-info:hover {border-color:#c5d3e5 !important; background-color:#c5d3e5 !important}
.btn-info.active {border-color:#c5d3e5 !important; background-color:#c5d3e5 !important}
.bg-info .btn-info {border-color:#c5d3e5 !important; background-color:#c5d3e5 !important}
.bg-info .btn-info:hover {border-color:#b1bece !important; background-color:#b1bece !important}
.btn-success {border-color:#10B981 !important; background-color:#10B981 !important}
.btn-success:hover {border-color:#0ea774 !important; background-color:#0ea774 !important}
.btn-success.active {border-color:#0ea774 !important; background-color:#0ea774 !important}
.btn-light {border-color:#F8FAFC !important; background-color:#F8FAFC !important}
.btn-light:hover {border-color:#dfe1e3 !important; background-color:#dfe1e3 !important}
.btn-light.active {border-color:#dfe1e3 !important; background-color:#dfe1e3 !important}
.bg-light .btn-light {border-color:#eceeef !important; background-color:#eceeef !important}
.bg-light .btn-light:hover {border-color:#d4d6d7 !important; background-color:#d4d6d7 !important}
.bg-light .btn-light.active {border-color:#d4d6d7 !important; background-color:#d4d6d7 !important}
.btn-dark {border-color:#0F172A !important; background-color:#0F172A !important}
.btn-dark:hover {border-color:#0e1526 !important; background-color:#0e1526 !important}
.btn-dark.active {border-color:#0e1526 !important; background-color:#0e1526 !important}
.btn-danger {border-color:#E11D48 !important; background-color:#E11D48 !important}
.btn-danger:hover {border-color:#cb1a41 !important; background-color:#cb1a41 !important}
.btn-danger.active {border-color:#cb1a41 !important; background-color:#cb1a41 !important}



/* Preloader */
