/* celestra font */
html, body {font-family: 'Ubuntu', sans-serif; font-size: 20px;}

@media screen and (max-width: 480px) {html, body {font-size:16px;}}
/*
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  letter-spacing: -.05em;
}
*/

h1,h2,h3,h4,h5,h6, .h1,.h2,.h3,.h4,.h5,.h6,.digit {font-weight:700;}
body, .btn {font-weight: 400;}

.fw-bold {font-weight:700 !important;}

.navbar-nav {font-weight: 500;}
.navbar .btn {font-weight: 500;}
body, .btn {line-height: 1.6;}
h1, h2, .h1, .h2 {margin-bottom:2rem;}
.mb-3 {margin-bottom:2rem !important;}
.lightbox .mb-3 {margin-bottom:1rem !important;}

p.lead {margin-bottom:2rem;}

.article-body p {margin-bottom: 1rem;}
.article-body h2 {margin-bottom: 1rem; font-size: 1.5rem;}
.article-body h3 {margin-bottom: 1rem; font-size: 1.25rem;}

:root {
    --list-gutter: 2rem;
    --fm-gutter-x: 2rem;
}
.h-underline-1 {
    margin-bottom: 4rem;
}
@media (min-width: 1200px) {
  .h1, h1 {
    font-size: 3rem;
  }
}


/* from.biz color scheme */
:root {
--body-color: #0F172A;
--primary: #423EF3;
--primary-active: #3b38db;
--primary-rgb: 66, 62, 243;
--secondary: #3A3A42;
--secondary-active: #34343b;
--secondary-rgb: 58, 58, 66;
--warning: #F59E0B;
--warning-active: #dd8e0a;
--warning-rgb: 245, 158, 11;
--info: #F0F4FF;
--info-active: #d8dce6;
--info-rgb: 240, 244, 255;
--success: #10B981;
--success-active: #0ea774;
--success-rgb: 16, 185, 129;
--light: #F9FBFF;
--light-active: #edeef2;
--light-rgb: 249, 251, 255;
--dark: #0F172A;
--dark-active: #0e1526;
--dark-rgb: 15, 23, 42;
--danger: #EF4444;
--danger-active: #d73d3d;
--danger-rgb: 239, 68, 68;
--header-height: 128px;
--navbar-font-size: 14px;
--fm-navbar-width: 1320px;
--fm-body-width: 1320px;
--navbar-hover-bg: var(--body-bg);
}
.btn-primary {border-color:#423EF3 !important; background-color:#423EF3 !important}
.btn-primary:hover {border-color:#3b38db !important; background-color:#3b38db !important}
.btn-primary.active {border-color:#3b38db !important; background-color:#3b38db !important}
.bg-primary .btn-primary {border-color:#3b38db !important; background-color:#3b38db !important}
.bg-primary .btn-primary:hover {border-color:#3532c5 !important; background-color:#3532c5 !important}
.btn-secondary {border-color:#3A3A42 !important; background-color:#3A3A42 !important}
.btn-secondary:hover {border-color:#34343b !important; background-color:#34343b !important}
.btn-secondary.active {border-color:#34343b !important; background-color:#34343b !important}
.btn-warning {border-color:#F59E0B !important; background-color:#F59E0B !important}
.btn-warning:hover {border-color:#dd8e0a !important; background-color:#dd8e0a !important}
.btn-warning.active {border-color:#dd8e0a !important; background-color:#dd8e0a !important}
.btn-info {border-color:#F0F4FF !important; background-color:#F0F4FF !important}
.btn-info:hover {border-color:#d8dce6 !important; background-color:#d8dce6 !important}
.btn-info.active {border-color:#d8dce6 !important; background-color:#d8dce6 !important}
.bg-info .btn-info {border-color:#d8dce6 !important; background-color:#d8dce6 !important}
.bg-info .btn-info:hover {border-color:#c2c6cf !important; background-color:#c2c6cf !important}
.btn-success {border-color:#10B981 !important; background-color:#10B981 !important}
.btn-success:hover {border-color:#0ea774 !important; background-color:#0ea774 !important}
.btn-success.active {border-color:#0ea774 !important; background-color:#0ea774 !important}
.btn-light {border-color:#F9FBFF !important; background-color:#F9FBFF !important}
.btn-light:hover {border-color:#e0e2e6 !important; background-color:#e0e2e6 !important}
.btn-light.active {border-color:#e0e2e6 !important; background-color:#e0e2e6 !important}
.bg-light .btn-light {border-color:#edeef2 !important; background-color:#edeef2 !important}
.bg-light .btn-light:hover {border-color:#d5d6da !important; background-color:#d5d6da !important}
.bg-light .btn-light.active {border-color:#d5d6da !important; background-color:#d5d6da !important}
.btn-dark {border-color:#0F172A !important; background-color:#0F172A !important}
.btn-dark:hover {border-color:#0e1526 !important; background-color:#0e1526 !important}
.btn-dark.active {border-color:#0e1526 !important; background-color:#0e1526 !important}
.btn-danger {border-color:#EF4444 !important; background-color:#EF4444 !important}
.btn-danger:hover {border-color:#d73d3d !important; background-color:#d73d3d !important}
.btn-danger.active {border-color:#d73d3d !important; background-color:#d73d3d !important}



/* Preloader */
